{% extends 'base.html' %}
{% block primary %}

{% regroup post_list by created_date.year as posts_by_year %}
<div class="accordion">
  {% for year in posts_by_year reversed %}
  <div class="well">
    <div class="accordion-heading" data-toggle="collapse" data-target="#archive_{{ year.grouper }}">
      <h2>{{ year.grouper }}<i class="icon-arrow-down icon-white"></i></h2>
    </div>
    <div class="accordion-body collapse {% if forloop.first %}in{% endif %}" id="archive_{{ year.grouper }}">
      {% for post in year.list reversed %}
      <div class="accordion-inner">
	<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	<em>by {{ post.user_profile.user.username}} on {{ post.created_date|date:"N j, Y, P T" }}</em>
      </div>
      {% endfor %}
    </div> <!-- end accordion body -->
  </div>
  {% endfor %}
</div> <!--end accordion-->
{% endblock%}
