{% extends 'base.html' %}
{% block primary %}
  {% with page_title="Projects" %}
    {{ block.super }}
  {% endwith %}
  <div class="blog-post col-12">
    {% regroup object_list by primary_language as languages %}
    {% for language in languages %}
      <div id="{{ language.grouper }}" class="blog-post">
        <h3>{{ language.grouper }}</h3>
        <ul>
          {% for project in language.list %}
            <li><a class="" href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}
