{% load static projects_tags wagtailcore_tags wagtailuserbar defense_league %}
{% wagtailuserbar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bash-Shell.Net - {% block title %}Programming, Running, Cycling{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block og_tags %}
      <meta property="og:title" content="{% block og_title %}Bash-Shell.Net{% endblock %}" />
      <meta property="og:type" content="{% block og_type %}og:website{% endblock %}" />
      <meta property="og:url" content="https://bash-shell.net{{ request.get_path }}" />
      {% comment %}Might muck with this some here{% endcomment %}
      <meta property="og:description" content="{% block og_description %}{{ page.opengraph_description|default:'A blog about programming, running, and cycling'}}{% endblock %}" />
      {% comment %}<meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />{% endcomment %}
    {% endblock og_tags %}
    {% block stylesheets %}
      {# <link rel="stylesheet" type="text/css" href="{% static 'css/superhero/bootstrap.min.css' %}" /> #}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/superhero/bootstrap.min.css" integrity="sha384-rvwYMW9Z/bbxZfgxHQEKx6D91KwffWAG+XnsoYNCGWi/qL1P9dIVYm1HBiHFqQEt" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/superhero/superhero_tweak.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css" integrity="sha256-cKiyvRKpm8RaTdU71Oq2RUVgvfWrdIXjvVdQF2oZ1Y4=" crossorigin="anonymous" />

      <style>
        html, body {
          min-height: 100%;
        }
      </style>
    {% endblock stylesheets %}
    {% block page_stylesheets %}{% endblock page_stylesheets %}
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101271437);</script>
    <script async src="//static.getclicky.com/js"></script>

  </head>
  <body>
    <div class="container-lg pb-5">
      <header role="header" class="row">
        <div class="blog-header">
          <div class="title">
            <div class="col-12">
              <h1 class="blog-title">Bash-Shell.Net</h1>
              <p class="lead blog-description">I'm a developer, not a writer.</p>
            </div>
          </div>
          <ul class="nav">
            {% comment %}
              Using a couple known paths here rather than wagtail slugurl which hits the db for each one while
              requiring the exact same known info - the slug. slugurl would only be useful if I know the slug
              but the overall url might be nested further down the path.
            {% endcomment %}
            <li class="nav-item"><a class="nav-link" href="/blog">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/on-tap">On Tap</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'projects_project_list' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'opensource' %}">Open Source</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
      </header>
      <main role="main" class="row">
        {% block sidebar %}{% endblock sidebar %}
        {% block col2_default %}
          <div id="column-2" class="col">
            <div class="row">
              {% block primary %}
                {% block page_header %}
                  <div class="page-header col-12">
                    <h2>{{ page_title }}</h2>
                  </div>
                {% endblock %}
              {% endblock %}
            </div>
          </div>
        {% endblock col2_default %}
      </main>
      <footer role="footer" class="blog-footer row">
        <div class="col-2"></div>
        <div class="col">
          <h6>Sections</h6>
          <ul class="nav flex-column">
            <li><a href="/#">Home</a></li>
            <li><a href="{% url 'projects_project_list' %}">Projects</a></li>
            <li><a href="{% url 'opensource' %}">Open Source</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
        <div class="col">
          <h6>Social</h6>
          <ol class="list-unstyled">
            <li><a href="https://github.com/jmichalicek/"><img type="image/svg+xml" src="{% static 'img/github.svg' %}" class="github-svg"></img> GitHub</a></li>
            <li><a href="https://twitter.com/zingaya"><img type="image/svg+xml" src="{% static 'img/twitter.svg' %}" class="twitter-svg"></img> Twitter</a></li>
          </ol>
        </div>
        <div class="col">
          <h6>Other</h6>
          <ul class="list-unstyled">
            <li>Hosted on <a href="https://m.do.co/c/d39bb8f7dd5d">Digital Ocean&nbsp;&nbsp;<img type="image/svg+xml" src="{% static 'img/digitalocean.svg' %}" class="digitalocean-svg"></img></a>
            </li>
            <li>Web and App Development @ <a href="https://mobelux.com/">Mobelux</a></li>
          </ul>
        </div>
        <div class="col-2"></div>
      </footer>
    </div> {# end main container #}
    {% block javascript %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.js" integrity="sha256-yQGjQhFs3LtyiN5hhr3k9s9TWZOh/RzCkD3gwwCKlkg=" crossorigin="anonymous"></script>
      <script>
        baguetteBox.run('.js-lightbox', {noScrollbars: true});
      </script>
    {% endblock javascript %}
  </body>
</html>
