[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = ">=1.11,<1.12"
Pillow = "==4.2.1"
dj-database-url = "==0.4.2"
django-redis-cache = "==1.7.1"
psycopg2 = "==2.7.3.1"
pytz = "==2017.2"
gunicorn = "==19.7.1"
boto3 = "==1.4.6"
django-storages = "==1.6.5"
Markdown = "==2.6.9"
requests = "*"

[dev-packages]
factory_boy = "==2.9.2"
django-coverage = "==1.2.4"
django-debug-toolbar = ">=1.8"

[packages.django-internetdefenseleague-master]
git = "https://github.com/jmichalicek/django-internetdefenseleague.git"
ref = "d9849b553885d36b3650d8f36c8a86f79b0cd37e"
