[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = '3.6.3'


[packages]

django = ">=2,<=2.1"
pillow = "*"
dj-database-url = "*"
django-redis-cache = "*"
"psycopg2" = "*"
pytz = "*"
gunicorn = "==19.7.1"
"boto3" = "*"
django-storages = "*"
markdown = "==2.6.9"
requests = "*"
django-internetdefenseleague-master = { git = "https://github.com/jmichalicek/django-internetdefenseleague.git", ref = "d9849b553885d36b3650d8f36c8a86f79b0cd37e" }
raven = "*"
pygments = "*"


[dev-packages]

django-coverage = "*"
django-debug-toolbar = "*"
factory-boy = "*"
pygments_solarized = "==0.0.3"
