[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = '3.7'

[packages]
django = ">=2.2,<2.3"
pillow = "*"
dj-database-url = "*"
django-redis-cache = "*"
"psycopg2" = "*"
pytz = "*"
gunicorn = "*"
"boto3" = "*"
django-storages = "*"
markdown = "*"
requests = "*"
django-internetdefenseleague-master = {git = "https://github.com/jmichalicek/django-internetdefenseleague.git",ref = "d9849b553885d36b3650d8f36c8a86f79b0cd37e"}
raven = "*"
pygments = "*"
django-coverage = "*"
django-debug-toolbar = "*"
factory-boy = "*"
wagtail = "*"
wagtailfontawesome = "*"
collectfast = "*"
