Django==1.9.6
Pillow==3.2.0
dj-database-url==0.4.1
-e git+ssh://git@github.com/jmichalicek/django-internetdefenseleague.git@d9849b553885d36b3650d8f36c8a86f79b0cd37e#egg=django_internetdefenseleague-master
django-redis-cache==1.6.5
psycopg2==2.6.1
pytz==2013.8
redis==2.10.5
sqlparse==0.1.10
gunicorn==19.4.5

# testing
factory-boy==2.7.0
mock==2.0.0
django-coverage==1.2.4
django-debug-toolbar==1.4

# wysiwyg editing
django-wysiwyg==0.7.1
django-ckeditor==5.0.3
