{% extends 'base.html' %}
{% block primary %}
{% for post in object_list %}
<div class="row">
  <div class="span12">
    <div class="well">
      <div class="header">
	<h2>{{ post.title }}</h2>
	<em> by {{ post.user_profile.user.username}} on {{ post.published_date|date:"N j, Y, P T" }}</em>
      </div>
      <hr />
      {# markdown will properly wrap the following text in appropriate tags if needed #}
      {{ post.content|truncatewords_html:"100"|safe }}
      <span><a href="{{ post.get_absolute_url }}">&rarr; read more</a></span>
    </div>
  </div>
</div>
{% endfor %}
<div class="row">
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous">
      <a href="{% url 'blog_post_list' %}?page={{ page_obj.previous_page_number }}">&larr; Newer</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next">
      <a href="{% url 'blog_post_list' %}?page={{ page_obj.next_page_number }}">Older &rarr;</a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock%}
