{% extends 'base.html' %}
{% load blog_tags %}
{% block primary %}
  <div class="page-header">
    <h2>Posts</h2>
  </div>
  {% for post in object_list %}
    <div class="blog-post">
      <h2>{{ post.title }}</h2> {# class="blog-title"  from example template? #}
      <p class="blog-post-meta"> by {{ post.user.first_name}} on {{ post.published_date|date:"N j, Y, P T" }}</p> {# class="blog-post-meta" and a p tag instead of em  from example template? #}

      <hr />
      {# markdown will properly wrap the following text in appropriate tags if needed #}
      {{ post.content|render_markdown|truncatewords_html:"100"|safe }}
      <span><a href="{{ post.get_absolute_url }}">&rarr; read more</a></span>
    </div>
  {% endfor %}

  <nav class="blog-pagination">
    <a class="btn btn-outline-primary {% if not page_obj.has_previous %}disabled{% endif %}" href="{% if page_obj.has_previous %}{% url 'blog_post_list' %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Newer</a>
    <a class="btn btn-outline-primary {% if not page_obj.has_next %}disabled{% endif %}" href="{% if page_obj.has_next %}{% url 'blog_post_list' %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Older</a>
  </nav>
{% endblock%}
