{% load static projects_tags wagtailcore_tags defense_league %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Bash-Shell.Net{% endblock %}</title>
    {% block stylesheets %}
      {# <link rel="stylesheet" type="text/css" href="{% static 'css/superhero/bootstrap.min.css' %}" /> #}
      <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-LS4/wo5Z/8SLpOLHs0IbuPAGOWTx30XSoZJ8o7WKH0UJhRpjXXTpODOjfVnNjeHu" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/superhero/superhero_tweak.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css" integrity="sha256-cKiyvRKpm8RaTdU71Oq2RUVgvfWrdIXjvVdQF2oZ1Y4=" crossorigin="anonymous" />
    {% endblock stylesheets %}
    {% block page_stylesheets %}{% endblock page_stylesheets %}
  </head>
  <body>
    <header>
      <div class="blog-header">
        <div class="container">
          <div class="title row">
            <div class="col-12">
              <h1 class="blog-title">Bash-Shell.Net</h1>
              <p class="lead blog-description">I'm a developer, not a writer.</p>
            </div>
          </div>
          <ul class="nav">
            {% comment %}
              Using a couple known paths here rather than wagtail slugurl which hits the db for each one while
              requiring the exact same known info - the slug. slugurl would only be useful if I know the slug
              but the overall url might be nested further down the path.
            {% endcomment %}
            <li class="nav-item"><a class="nav-link" href="/blog">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/on-tap">On Tap</a></li>
            {% comment %}
              Maybe move this to a blog subnav somewhere?
              <li class="nav-item"><a class="nav-link" href="/archives#">Archive</a></li>
            {% endcomment %}
            <li class="nav-item"><a class="nav-link" href="{% url 'projects_project_list' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'opensource' %}">Open Source</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main role="main" class="container">
      <div class="row">
        {% block sidebar %}{% endblock sidebar %}
        {% block col2_default %}
          <div id="column-2" class="col">
            {% block primary %}
              {% block page_header %}
              <div class="page-header">
                <h2>{{ page_title }}</h2>
              </div>
              {% endblock %}
            {% endblock %}
          </div>
        {% endblock col2_default %}
      </div>
    </main>
    <footer class="blog-footer">
      <div class="col-6 row offset-3 no-gutters">
        <div class="col">
          <h6>Sections</h6>
          <ul class="nav flex-column">
            <li><a href="/#">Home</a></li>
            <li><a href="/archives/#">Archive</a></li>
            <li><a href="{% url 'projects_project_list' %}">Projects</a></li>
            <li><a href="{% url 'opensource' %}">Open Source</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
        <div class="col">
          <h6>Social</h6>
          <ol class="list-unstyled">
            <li><a href="https://github.com/jmichalicek/"><img type="image/svg+xml" src="{% static 'img/github.svg' %}" class="github-svg"></img> GitHub</a></li>
            <li><a href="https://twitter.com/zingaya"><img type="image/svg+xml" src="{% static 'img/twitter.svg' %}" class="twitter-svg"></img> Twitter</a></li>
          </ol>
        </div>
        <div class="col">
          <h6>Other</h6>
          <ul class="list-unstyled">
            <li>Hosted on <a href="https://m.do.co/c/d39bb8f7dd5d">Digital Ocean&nbsp;&nbsp;<img type="image/svg+xml" src="{% static 'img/digitalocean.svg' %}" class="digitalocean-svg"></img></a>
            </li>
            <li>Web and App Development @ <a href="https://mobelux.com/">Mobelux</a></li>
          </ul>
        </div>
        <div class="col-12"><p><a href="#">Back to top</a></p></div>
      </div>
    </footer>
    {% block javascript %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.js" integrity="sha256-yQGjQhFs3LtyiN5hhr3k9s9TWZOh/RzCkD3gwwCKlkg=" crossorigin="anonymous"></script>
        <script>
          baguetteBox.run('.js-lightbox', {noScrollbars: true});
        </script>
    {% endblock javascript %}
  </body>
</html>
