{% extends 'base.html' %}
{% load blog_tags %}

{% block primary %}
  <div class="page-header">
    <h2>Open Source</h2>
  </div>
  <div class="blog-post">
{% markdown %}
## Why Open Source?

Open Source Software has been a major part of my daily life since the mid-90s.  Years before I was familiar with the term Open Source I was running Slackware Linux 2.0, compiling horribly written code with gcc, and hosting toy websites no one visited using Apache on a dialup internet connection (which of course were only available when I was online and had given someone my ip address for that session).  Those free, professional, production quality tools gave me a head start on learning and helped keep my interest long enough to turn it all into a career where I am paid well to do more or less what I'd be doing with much of my free time (and still do with a lot of it) anyway.

Because of what Open Source has done for me (and for many others) I have a strong desire to contribute back and to encourage others to do so.  I have all too infrequently contributed bug fixes and features to projects I use regularly and thanks to my employer [Mobelux](https://mobelux.com/) and our client/partner [Livio](https://livio.io/) I have been able to release a few projects from work.  I have also released a few of my own projects which others may find useful, although they are still mostly toys for me to learn and I have little desire to have to grow a community of contributors around them.

A more complete blog post about Open Source and its benefits will be coming in the near future.

## Contributions

### My Projects

Here are some of my more recent and/or interesting and active Open Source projects.  There are many more on [my github profile](https://github.com/jmichalicek), but many of those are old, abandoned, etc.
<div  class="row ml-0 mr-0">
<div class="col-sm-4 card" markdown="1">
### django-mailviewer
[Docs](https://django-mail-viewer.readthedocs.io/en/latest/) | [github](https://github.com/jmichalicek/django-mail-viewer)

A Django application which provides mail backends to store SMTP data and views to look that data up and display it for easy visual testing of email content and attachments during development.
</div>
<div class="col-sm-4 card" markdown="1">
### django-fractions
[Docs](https://django-fractions.readthedocs.io/en/latest/) | [github](https://github.com/jmichalicek/django-fractions)

A set of template tags and form fields for handling and displaying fractions on a Django website
</div>
<div class="col-sm-4  card" markdown="1">
### WorryWort
[Server github](https://github.com/jmichalicek/worrywort) | [Client github](https://github.com/jmichalicek/worrywort-client-react-native)

A Phoenix/Elixir project for logging homebrew fermentation temperatures and a React Native mobile app.  These are both a work in progress and are nowhere near ready for use.  Eventually I will also add code for monitoring and reporting temperatures from a Raspberry Pi and possibly Arduino.
</div>
</div>

-----

### Other Projects
<div class="row ml-0 mr-0">
<div class="col-sm-4  card" markdown="1">
### [Django](https://djangoproject.com)
[Contributions](https://github.com/django/django/commits?author=jmichalicek)

One of the big Python web frameworks.  It runs this site, many of the sites we build at Mobelux, and many popular sites on the web such as [Instagram](https://instagram.com/), [Pinterest](https://pinterest.com/) (initially, at any rate), and [Disqus](https://disqus.com).
</div>
<div class="col-sm-4  card">
### [Django AllAuth](https://www.intenct.nl/projects/django-allauth/)

[Contributions](https://github.com/pennersr/django-allauth/commits?author=jmichalicek)

Django AllAuth is an alternative authentication framework for Django.  Django's built in auth system only covers authentication and password reset type functionality.  Django AllAuth adds in things like social auth and user registration.
</div>
<div class="col-sm-4  card" markdown="1">
### [Docker-py](https://github.com/docker/docker-py/)

[Contributions](https://github.com/docker/docker-py/commits?author=jmichalicek)

It's the Python [Docker](https://www.docker.com/docker-community) client.
</div>
</div>
<div class="row ml-0 mr-0">
<div class="col-sm-4  card" markdown="1">
### [DocDown-Python](https://github.com/livio/DocDown-Python)

This was developed  by my employer, [Mobelux](https://mobelux.com/) for [Livio](https://livio.io) and the [SmartDeviceLink](https://smartdevicelink.com) project.  Livio chose to open source the project.  I get an unfair amount of credit in the commits on this one.  The majority was developed by a [co-worker](https://github.com/jemerick), but I got to extract it out of the original project into its own package.
</div>
<div class="col-sm-4 card" markdown="1">
### [Remarkable DocDown](https://github.com/livio/DocDown-JS)

This is the JavaScript version of DocDown for use with the JavaScript Markdown library Remarkable.
</div>
<div class="col-sm-4  card" markdown="1">
### [JWT APNS Client](https://github.com/Mobelux/jwt_apns_client)

[Contributions](https://github.com/Mobelux/jwt_apns_client/commits?author=jmichalicek)

JWT APNS Client was built at [Mobelux](https://mobelux.com/) for [New Custom](https://newcustom.com/).  Mobelux and New Custom were under the same ownership and it was chosen to be open sourced for ease of use in other Mobelux projects which needed to send Apple push notifications.
</div>
</div>

-----

## Find ways to contribute

Here are a few of my favorites with a large and interesting community around them.

* [Django Channels](https://channels.readthedocs.io/en/stable/contributing.html)
* [Django](https://docs.djangoproject.com/en/dev/internals/contributing/)
* [Ruby On Rails](http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html)
* [Phoenix](https://github.com/phoenixframework/phoenix/blob/master/CONTRIBUTING.md)
* [Let's Encrypt](https://letsencrypt.org/getinvolved/)

Here are some resources for just finding projects to contribute to

* [Code Triage](https://www.codetriage.com/)
* [Explore GitHub](https://help.github.com/articles/finding-open-source-projects-on-github/)
* [Up For Grabs](http://up-for-grabs.net/#/)
{% endmarkdown %}
</div>
{% endblock %}
