{% load wagtailimages_tags %}
<div class="w-full text-center mb-2 js-lightbox">
  {% image value original format-webp as original_webp %}
  <a class="" href="{{ original_webp.url }}" title="{{ value.title }}">
    <!-- <img class="mx-auto block w-full" src="{{ value.image.file.url }}" alt="{{ value.image.title }}"> -->
    {% image value max-500x500 format-webp class="mx-auto block" alt=image.title loading="lazy" %}
    {% if value.title %}<span>{{ value.title }}</span>{% endif %}
  </a>
</div>
