{% extends 'base.html' %}
{% load blog_tags wagtailcore_tags %}
{% block title %}{{ page.title }}{% endblock title %}
{% block og_title %}{{ page.title }}{% endblock og_title%}
{% block og_description %}What's brews are on tap or will be soon? Links to recipes and brew day logs.{% endblock og_description %}
{% block primary %}
  {% with page_title=page.title %}
    {{ block.super }}
  {% endwith %}
  <!-- already inside a class="row" so wrap with a column first. Tempted to scrap the outter row in base.html -->
  <div class="col-12 mt-4">
    <h3>On Tap Now</h3>
  </div>
  <div class="col-12 pl-0 pr-0 mt-2">
    <div class="row mr-0">
      {% for batch in currently_on_tap %}
        <div class="col-md-4 col-12 mt-3 mt-md-0 pr-0">
          <div class="card currently-on-tap">
            <div class="card-header text-center">
              <div class="w-100"><a href="{{ batch.recipe_page.id_and_slug_url }}">{{ batch.recipe_page.name }}</a></div>
              <small>{{ batch.recipe_page.style.name }}{% if batch.recipe_page.style.bjcp_category %} ({{ batch.recipe_page.style.bjcp_category }}){% endif %}</small>
            </div>
            <div class="card-body">
              <p class="card-text">{{ batch.recipe_page.short_description }}</p>
              <p class="card-text">On Tap {{ batch.on_tap_date }}</p>
              <!-- <a href="{% pageurl batch.recipe_page %}" class="btn btn-primary">recipe</a> -->
            </div>
            <div class="card-footer">
              <a href="{{ batch.id_and_slug_url }}" class="card-link">Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% if upcoming_batches is not None %}
    {% comment %}
      On further pages we just show the currently on tap and past batches for now.
      I might get fancy and paginate these lists and show both all the time with two separate page params.
    {% endcomment %}
    <div class="col-12 mt-4 pr-0 mr-0">
      <h3>Coming Soon</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-dark">
        <thead class="thead-dark">
          <tr>
            <th>Recipe Name</th>
            <th>Style</th>
            <th>Status</th>
            <th>Brewed Date</th>
            <th>Packaged Date</th>
            <th>On Tap Date</th>
          </tr>
        </thead>
        <tbody>
          {% for batch in upcoming_batches %}
            <tr>
              <td>
                <a href="{{ batch.recipe_page.id_and_slug_url }}">{{ batch.recipe_page.name }}</a>
                {% if batch.status != 'planned' %} (<a href="{{ batch.id_and_slug_url }}">Log</a>){% endif %}
              </td>
              <td>{{ batch.recipe_page.style }}</td>
              <td>{{ batch.get_status_display }}</td>
              <td>{{ batch.brewed_date|default:"" }}</td>
              <td>{{ batch.packaged_date|default:"" }}</td>
              <td>{{ batch.on_tap_date|default:"" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  <div class="col-12 mt-4">
    <h3>Past Brews</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-dark pl-0 pr-0">
      <thead class="thead-dark">
        <tr>
          <th>Recipe Name</th><th>Style</th><th>Status</th><th>Brewed Date</th><th>Packaged Date</th><th>On Tap Date</th>
        </tr>
      </thead>
      <tbody>
        {% for batch in past_batches %}
          <tr>
            <td><a href="{{ batch.recipe_page.id_and_slug_url }}">{{ batch.recipe_page.name }}</a> (<a href="{{ batch.id_and_slug_url }}">Log</a>)</td><td>{{ batch.recipe_page.style }}</td><td>{{ batch.get_status_display }}</td><td>{{ batch.brewed_date }}</td><td>{{ batch.packaged_date|default:"" }}</td><td>{{ batch.on_tap_date|default:"" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <nav class="blog-pagination">
    <a class="btn btn-outline-primary {% if not page_obj.has_previous %}disabled{% endif %}" href="{% if page_obj.has_previous %}{% pageurl page %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Newer Brews</a>
    <a class="btn btn-outline-primary {% if not page_obj.has_next %}disabled{% endif %}" href="{% if page_obj.has_next %}{% pageurl page %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Older Brews</a>
  </nav>
  <hr class="mt-4">
{% endblock primary %}
