{% extends 'base.html' %}
{% load wagtailcore_tags on_tap_tags %}
{% block page_stylesheets %}
  <style>
    {# extra specificity needed here or bootstrap padding values override this #}
    td.beer-style-guide__srm {
      padding: .5rem .75rem 0;
    }
    .beer-style-guide__srm-gradient {
      {% if page.style.color_min and page.style.color_max %}
        background-image: linear-gradient(to right, {{ page.style.color_min|default:0|floatformat:"0"|srm_to_hex }}, {{ page.style.color_max|default:"40"|floatformat:"0"|srm_to_hex }});
      {% else %}
        background-image: linear-gradient(to right, {{ 0|srm_to_hex }}, {{ 40|srm_to_hex }});
      {% endif %}
      padding: .25rem .75rem;
    }

    .recipe-stats__srm {
      background-color: {{ page.calculate_color_srm|floatformat:"0"|srm_to_hex }};
      padding: .25rem .75rem;
      {# When srm is less than 7-10, the white text gets hard to read #}
      {% if page.calculate_color_srm < 10 %}color: #2B3E50;{% endif %}
    }
  </style>
{% endblock page_stylesheets %}

{% block title %}{{ page.title }}{% endblock title %}
{% block og_title %}{{ page.name }}{% endblock og_title %}
{# the default filter is not playing nicely with what I need here, so use if/else #}
{% block og_description %}{% if page.short_description %}{{ page.short_description }}{% else %}{{ page.style.name|add:" Recipe" }}{% endif %}{% endblock og_description %}

{% block primary %}
  {% with page_title=page.title %}
    {{ block.super }}
  {% endwith %}
  <div class="blog-post col-12">
    <!--
        some hackery going on here - use display: block on larger screens so that I can float these to the right and get
        long intro text text to wrap around them but use display: flex and column-reverse on smaller screens so that
        I can drop the floated div down below the introduction text. This way I don't have to duplicate data in elements
        which get hidden or shown on different screen sizes.
      -->
    <div class="d-flex flex-column-reverse d-lg-block">
      <div class="d-lg-block col-12 col-lg-4 float-lg-end ps-lg-3 pe-2">
        {% comment %}
          This outter div does not QUITE line up on the right with the tables below
          as it did with bootstrap 4.5, but is within a couple of px. Probably due
          to something being a bit off due to the switch to rem for everything.
          Figure it out at some point or possibly completely rework the structure.
          {% endcomment %}
        <div class="card row">
          <div class="card-header">
            Style Profile
          </div>
          <div class="card-body pb-0">
            <dl class="row mb-0">
              <div class="col-6 col-lg-5">
                <div class="row">
                  <dt class="col-12">O.G.:</dt><dd class="col-12">{% if page.style.original_gravity_min and page.style.original_gravity_max %}{{ page.style.original_gravity_min|floatformat:"3" }} - {{ page.style.original_gravity_max|floatformat:"3" }}{% else %}N/A{% endif %}</dd>
                </div>
              </div>
              <div class="col-6 col-lg-7">
                <div class="row">
                  <dt class="col-12">F.G.:</dt><dd class="col-12">{% if page.style.final_gravity_min and page.style.final_gravity_max %}{{ page.style.final_gravity_min|floatformat:"3" }} - {{ page.style.final_gravity_max|floatformat:"3" }}{% else %}N/A{% endif %}</dd>
                </div>
              </div>
              <div class="col-6 col-lg-5">
                <div class="row">
                  <dt class="col-12">IBUs:</dt><dd class="col-12">{% if page.style.ibu_min and page.style.ibu_max %}{{ page.style.ibu_min|floatformat:"0" }} - {{ page.style.ibu_max|floatformat:"0" }}{% else %}N/A{% endif %}</dd>
                </div>
              </div>
              <div class="col-6 col-lg-7">
                <div class="row">
                  <dt class="beer-style-guide__srm col-12">Color:</dt><dd class="col-12"><div class="text-center beer-style-guide__srm-gradient">{{ page.style.color_min|default:0|floatformat:"0" }} - {{ page.style.color_max|default:40|floatformat:"0" }} srm</div></dd>
                </div>
              </div>
            </dl>
          </div>
        </div>

        <!-- recipe profile -->
        <div class="card row mt-2">
          <div class="card-header">
            Recipe Statistics
          </div>
          <div class="card-body pb-0">
            <dl class="row mb-0">
              <div class="col-6 col-lg-5">
                <div class="row">
                  <dt class="col-12">O.G.:</dt><dd class="col-12">{% if page.original_gravity %}{{ page.original_gravity|floatformat:"3" }}{% else %}N/A{% endif %}</dd>
                </div>
              </div>
              <div class="col-6 col-lg-7">
                <div class="row">
                  <dt class="col-12">F.G.:</dt><dd class="col-12">{% if page.final_gravity %}{{ page.final_gravity|floatformat:"3" }}{% else %}N/A{% endif %}</dd>
                </div>
              </div>
              <div class="col-6 col-lg-5">
                <div class="row">
                  <dt class="col-12">IBUs:</dt><dd class="col-12">{% if page.ibus_tinseth %}{{ page.ibus_tinseth|floatformat:"0" }}{% else %}N/A{% endif %}</dd>
                </div>
              </div>
              <div class="col-6 col-lg-7">
                <div class="row">
                  <dt class="beer-style-guide__srm col-12">Color:</dt><dd class="col-12">{% if page.calculate_color_srm %}<div class="text-center recipe-stats__srm">{{ page.calculate_color_srm|floatformat:"0" }} srm</div>{% else %}N/A{% endif %}</dd>
                </div>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div>
        <div class="recipe_detail__introduction">
          {{ page.introduction }}
        </div>

      </div>
    </div>
    <span class="clearfix"></span>
    <div>
      <h2 name="recipe_details">{{ page.name }}</h2>
      <h4>{{ page.style }}</h4>
    </div>
    <table class="table mt-4">
      <thead class="table-active">
        <tr><th scope="col">Type</th><th scope="col">Boil Volume</th><th scope="col">Volume in Fermenter</th><th scope="col">Boil Time</th><th scope="col">Efficiency</th></tr>
      </thead>
      <tbody class="table-secondary">
        <tr>
          <td>{{ page.get_recipe_type_display }}</td>
          <td>{{ page.boil_size|floatformat:"2" }} {{ page.get_volume_units_display }}</td>
          <td>{{ page.batch_size|floatformat:"2" }} {{ page.get_volume_units_display }}</td>
          <td>{{ page.boil_time }} Minutes</td>
          <td>{{ page.efficiency }}%</td>
        </tr>
      </tbody>
    </table>
    <h5>Fermentables</h5>
    <table class="table">
      <thead class="table-active">
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody class="table-secondary">
        {% for fermentable in page.fermentables.all %}
          <tr>
            <td>{{ fermentable.name }}</td>
            <td>{{ fermentable.scaled_amount|default:fermentable.amount|floatformat:"2" }} {{ fermentable.amount_units }}</td>
            <td>{{ fermentable.get_type_display }}</td>
            <td>{{ fermentable.color|floatformat:"0" }} srm</td>
            <tr>
        {% endfor %}
      </tbody>
    </table>

    <h5>Hops</h5>
    <table class="table">
      <thead class="table-active">
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Form</th>
          <th>Step</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody class="table-secondary">
        {% for hop in page.hops.all %}
          <tr>
            <td>{{ hop.name }}</td>
            <td>{{ hop.amount|floatformat:"2" }} {{ hop.amount_units }}</td>
            <td>{{ hop.get_form_display }}</td>
            <td>{{ hop.get_use_step_display }}</td>
            <td>{{ hop.use_time }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h5>Yeast</h5>
    <table class="table">
      <thead class="table-active">
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody class="table-secondary">
        {% for yeast in page.yeasts.all %}
          <tr>
            <td>{{ yeast }}</td>
            <td>{{ yeast.amount|floatformat:"2" }} {{ yeast.amount_units }}</td>
            <td>{{ yeast.get_yeast_type_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if page.miscellaneous_ingredients.exists %}
      <h5>Other Ingredients</h5>
      <table class="table">
        <thead class="table-active">
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Step</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody class="table-secondary">
          {% for misc in page.miscellaneous_ingredients.all %}
            <tr>
              <td>{{ misc.name }}</td>
              <td>{{ misc.amount|floatformat:"2" }} {{ misc.amount_units }}</td>
              <td>{{ misc.get_type_display }}</td>
              <td>{{ misc.get_use_step_display }}</td>
              <td>{{ misc.use_time }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <div class="recipe_detail__conclusion">
      {{ page.conclusion }}
    </div>
  </div>
{% endblock primary %}
