{% extends 'base.html' %}
{% load blog_tags %}
{% block primary %}
  <div class="row">
    <div class="col-sm-12 project_detail__nav_row">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a id="info-tab" class="nav-link active" href="#info-content" data-toggle="tab" role="tabpanel" aria-controls="info-content">Info</a></li>
        <li class="nav-item"><a id="news-tab" class="nav-link" href="#news-content" data-toggle="tab" role="tabpanel" aria-control="news-content">News</a></li>
      </ul>
    </div>
    <div class="col-sm-12 project_detail__content">
      <div class="tab-content col-sm-8 float-left">
        <div class="tab-pane active" id="info-content" role="tabpanel" aria-controlled-by="info-tab">
          {{ object.description|render_markdown|safe }}
        </div>
        <div class="tab-pane" id="news-content" role="tabpanel" aria-controlled-by="news-tab">
          <dl>
    				{% for news in project_news %}
    					<dt>{{ news.date_created }}</dt>
    					<dd>{{ news.content|render_markdown|safe }}</dd>
    				{% empty %}
    					<dd>Nothing to see here, move along.</dd>
    				{% endfor %}
          </dl>
        </div>
      </div>
      <div class="col-12 col-md-4 float-right">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ object.name }}</h2>
            <div class="card-text">
              <dl class="dl-horizontal">
        				<dt><span >Created:</span></dt><dd>{{ project.created_date|date:"M d, Y" }}</dd>
        				<dt><span >Page updated:</span></dt><dd>{{ project.modified_date|date:"M d, Y" }}</dd>
        				<dt><span >Latest News:</span></dt><dd>{% if project_news.count > 0 %}{{ project_news.0.date_created|date:"M d, Y" }}{% endif %}</dd>
              </dl>

              {% if object.project_hosting_services.all.exists %}
            	    <p>View this project on:</p>
              	  <p>
          					{% for host in project.project_hosting_services.all %}
          						{# this all ends up on one line when output by the browser #}
          						<a href="{{ host.project_url|default:'#' }}">{{ host.hosting_service.name }}</a>
          						{% if host.public_vcs_uri and host.vcs %} {% if host.project_url %} - {% endif %}
          							<a href="{{ host.public_vcs_uri }}">{{ host.get_vcs_display }}</a>
          						{% endif %}<br />
          					{% endfor %}
                	</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
