{% extends 'base.html' %}
{% block primary %}
  {% regroup object_list by primary_language as languages %}
  <div class="col" id="{{ language.grouper }}">
    {% for language in languages %}
      <div id="{{ language.grouper }}">
        <h3>{{ language.grouper }}</h3>
        <ul>
          {% for project in language.list %}
            <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
    	    {% endfor %}
    	  </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}
