{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}About{% endblock title %}
{% block og_title %}About{% endblock og_title %}
{% block og_description %}About bash-shell.net{% endblock og_description %}

{% block primary %}
  <div class="w-full p-4 bg-dark-bg mb-1 rounded-sm">
    <h2 class="text-2xl font-medium text-white">About</h2>
  </div>
  <div class="w-full mb-4 bg-dark-bg p-4 rounded-sm text-white">
    <p>
      This site started as my first Django project, more or less following along with a tutorial that walked through
      creating a super simple blogging site. While it still acts as my blog, it is also a testbed for trying
      new ways of organizing Django, new apps, and new ways to handle hosting and deployment.
    </p>
  </div>
{% endblock %}
