{% load static projects_tags wagtailcore_tags wagtailuserbar %}
{% wagtailuserbar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bash-Shell.Net - {% block title %}Programming, Running, Cycling{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" property="og:description" content="{% block meta_description %}{{ page.opengraph_description|default:'A blog about programming, running, and cycling'}}{% endblock %}" />
    {% block og_tags %}
      <meta property="og:title" content="{% block og_title %}Bash-Shell.Net{% endblock %}" />
      <meta property="og:type" content="{% block og_type %}og:website{% endblock %}" />
      <meta property="og:url" content="https://bash-shell.net{{ request.get_path }}" />
      {% comment %}Might muck with this some here{% endcomment %}
      <meta property="og:description" content="{% block og_description %}{{ page.opengraph_description|default:'A blog about programming, running, and cycling'}}{% endblock %}" />
      {% comment %}<meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />{% endcomment %}
    {% endblock og_tags %}
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css" integrity="sha256-cKiyvRKpm8RaTdU71Oq2RUVgvfWrdIXjvVdQF2oZ1Y4=" crossorigin="anonymous" />

      <style nonce="{{ request.csp_nonce }}">
        html, body {
          min-height: 100%;
        }
      </style>
    {% endblock stylesheets %}
    {% block page_stylesheets %}{% endblock page_stylesheets %}
    <script nonce="{{ request.csp_nonce }}">var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101271437);</script>
    <script async src="//static.getclicky.com/js"></script>
  </head>
  <body>
    <div class="max-w-screen-lg mx-auto pb-20 text-white">
      <header role="header" class="flex flex-wrap">
        <div class="blog-heade">
          <div class="title">
            <div class="w-full">
              <h1 class="text-white text-2xl md:text-6xl mb-0 font-normal">Bash-Shell.Net</h1>
              <p class="text-orange-accent text-lg">I'm a developer, not a writer.</p>
            </div>
          </div>
          <ul class="flex justify-end list-none p-0 m-0">
            {% comment %}
              Using a couple known paths here rather than wagtail slugurl which hits the db for each one while
              requiring the exact same known info - the slug. slugurl would only be useful if I know the slug
              but the overall url might be nested further down the path.
              I could also load an object into the template context which has my base pages so I can just use
              somepage.url, but no matter what, some knowledge has to be assumed, so keep it the lightest
              weight option.
            {% endcomment %}
            <li class="mx-2"><a class="hover:text-orange-hover px-3 py-2 block" href="/blog">Home</a></li>
            <li class="mx-2"><a class="hover:text-orange-hover px-3 py-2 block" href="/on-tap">On Tap</a></li>
            <li class="mx-2"><a class="hover:text-orange-hover px-3 py-2 block" href="{% url 'projects_project_list' %}">Projects</a></li>
            <li class="mx-2"><a class="hover:text-orange-hover px-3 py-2 block" href="{% url 'opensource' %}">Open Source</a></li>
            <li class="mx-2"><a class="hover:text-orange-hover px-3 py-2 block" href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
      </header>
      <main role="main" class="flex flex-wrap">
        {% block sidebar %}{% endblock sidebar %}
        {% block col2_default %}
          <div id="column-2" class="flex-1">
            <div class="flex flex-wrap">
              {% block primary %}
                {% block page_header %}
                  <div class="page-header w-full bg-dark-bg text-white p-4 mb-1">
                    <h2>{{ page_title }}</h2>
                  </div>
                {% endblock %}
              {% endblock %}
            </div>
          </div>
        {% endblock col2_default %}
      </main>
      <footer role="footer" class="text-center py-10 mt-2 bg-transparent flex flex-wrap">
        <div class="w-2/12"></div>
        <div class="flex-1">
          <h6>Sections</h6>
          <ul class="flex flex-col p-0 m-0">
            <li><a href="/#">Home</a></li>
            <li><a href="{% url 'projects_project_list' %}">Projects</a></li>
            <li><a href="{% url 'opensource' %}">Open Source</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
        <div class="flex-1">
          <h6>Social</h6>
          <ol class="list-none p-0 m-0">
            <li><a href="https://github.com/jmichalicek/"><img type="image/svg+xml" src="{% static 'img/github.svg' %}" class="github-svg" height="16" width="16" loading="lazy" alt="GitHub Logo"> GitHub</a></li>
            <li><a href="https://twitter.com/zingaya"><img type="image/svg+xml" src="{% static 'img/twitter.svg' %}" class="twitter-svg" height="16" width="16" loading="lazy" alt="Twitter Logo"> Twitter</a></li>
          </ol>
        </div>
        <div class="flex-1">
          <h6>Other</h6>
          <ul class="list-none p-0 m-0">
            <li>Hosted on <a href="https://m.do.co/c/d39bb8f7dd5d">Digital Ocean&nbsp;&nbsp;<img nonce="{{ request.csp_nonce }}" type="image/svg+xml" src="{% static 'img/digitalocean.svg' %}" class="digitalocean-svg" height="12" width="12" loading="lazy" alt="Digital Ocean Logo"></a>
            </li>
            <li>Web and App Development @ <a href="https://mobelux.com/">Mobelux</a></li>
          </ul>
        </div>
        <div class="w-2/12"></div>
      </footer>
    </div> {# end main container #}
    {% block javascript %}
      <script src="{% static 'js/bundled/index.bundle.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.js" integrity="sha256-yQGjQhFs3LtyiN5hhr3k9s9TWZOh/RzCkD3gwwCKlkg=" crossorigin="anonymous"></script>
      <script nonce="{{ request.csp_nonce }}">
        baguetteBox.run('.js-lightbox', {noScrollbars: true});
      </script>
    {% endblock javascript %}
  </body>
</html>
