{% extends 'base.html' %}
{% load blog_tags %}
{% load static %}
{% load wagtailcore_tags %}

{% block primary %}
  <div class="page-header">
     <h2>{{ page.title }}</h2>
     {% comment %}
     rather than page.owner, may want to make a field specifically for authors.
     See https://github.com/wagtail/bakerydemo/blob/master/bakerydemo/blog/models.py#L23 and how
     it is used on https://github.com/wagtail/bakerydemo/blob/master/bakerydemo/blog/models.py#L85
     {% endcomment %}
      <em>by {% if page.owner %}{{ page.owner.get_full_name }}{% elif user.is_authenticated %}{{ user.get_full_name }}{% endif %} on {{ page.last_published_at|date:"N j, Y, P T"|default:"Not Published" }}</em>
  </div>
  <div class="blog-post">
    {# I wonder if the .blog-post wrapper should be part of page.body #}
    {% include_block page.body %}
  </div>
  <nav class="blog-pagination">
    <a class="btn btn-outline-primary {% if not next_post %}disabled{% endif %}" href="{% if next_post %}{% pageurl next_post %}{% else %}#{% endif %}">Newer</a>
    <a class="btn btn-outline-primary {% if not previous_post %}disabled{% endif %}" href="{% if previous_post %}{% pageurl previous_post %}{% else %}#{% endif %}">Older</a>
  </nav>
{% endblock %}
