{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
<!-- I feel like this is some flex abuse here, but it'll do for now -->
{% comment %}
<div class="image-gallery border mb-2 d-flex flex-row align-items-stretch align-content-stretch p-3 flex-wrap">
    {% for image_item in value.image_items %}
    <a class="image-gallery__link mb-1 p-0 col-lg-3 col-md-4 col-6" href="{{ image_item.image.file.url }}" data-caption="{{ image_item.caption }}">
      <div class="border border-primary d-flex align-items-center h-100 p-0">
        <img class="image-gallery__image mx-auto img-fluid p-4 d-block" src="{{ image_item.image.file.url }}" alt="{{ image_item.title }}">
      </div>
    </a>
    {% endfor %}
</div>
{% endcomment %}
<div class="image-gallery mb-2 js-lightbox" id="{{ value.id }}">
    <h4 class="image-gallery__title">{{ value.title }}</h4>
    <ul class="image-gallery__list">
      {% for image_item in value.image_items %}
        <li class="image-gallery__list-item col-lg-3 col-md-4 col-6">
          <a class="image-gallery__link" href="{{ image_item.image.file.url }}" title="{{ image_item.caption }}" data-caption="{{ image_item.caption }}">
            <div class="image-gallery__wrapper">
              <!-- <img width="250" class="image-gallery__image" src="{{ image_item.image.file.url }}" alt="{{ image_item.title }}"> -->
              {% image image_item.image max-200x200 class="image-gallery__image" alt=image_item.caption %}
            </div>
            <span class="image-gallery__caption w-100 d-block mx-auto">{{ image_item.caption }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
</div>
