{% extends 'base.html' %}
{% load wagtailcore_tags on_tap_tags %}
{% block page_stylesheets %}
  <style nonce="{{ request.csp_nonce }}">
    {# extra specificity needed here or bootstrap padding values override this #}
    td.beer-style-guide__srm {
      padding: .5rem .75rem 0;
    }

    .beer-style-guide__srm-gradient {
      background-image: linear-gradient(to right, {{ recipe_page.style.color_min|default:0|floatformat:"0"|srm_to_hex }}, {{ recipe_page.style.color_max|default:40|floatformat:"0"|srm_to_hex }});
      padding: .25rem .75rem;
    }

    .recipe-stats__srm {
      background-color: {{ calculated_srm|floatformat:"0"|srm_to_hex }};
      padding: .25rem .75rem;
      {# When srm is less than 7-10, the white text gets hard to read #}
      {% if calculated_srm < 10 %}color: #2B3E50;{% endif %}
    }
  </style>
{% endblock page_stylesheets %}
{% block title %}{{ page.title }}{% endblock title %}
{% block og_title %}{{ page.title }}{% endblock og_title %}
{% block og_description %}Brew day log and notes for {{ recipe_page.title }}{% if page.brewed_date %} brewed on {{ page.brewed_date }}{% endif %}{% endblock og_description %}
{% block primary %}
  {% with page_title=page.title %}
    {{ block.super }}
  {% endwith %}
  <div class="blog-post col-12">
    <!--
      some hackery going on here - use display: block on larger screens so that I can float these to the right and get
      long intro text text to wrap around them but use display: flex and column-reverse on smaller screens so that
      I can drop the floated div down below the introduction text. This way I don't have to duplicate data in elements
      which get hidden or shown on different screen sizes.
    -->
    <div class="d-flex flex-column-reverse d-md-block">
      <div class="d-md-block col-12 col-md-4 float-md-end ps-lg-3 pe-2">
        {% comment %}
        This outter div does not QUITE line up on the right with the tables below
        as it did with bootstrap 4.5, but is within a couple of px. Probably due
        to something being a bit off due to the switch to rem for everything.
        Figure it out at some point or possibly completely rework the structure.
        {% endcomment %}
        <div class="card row">
          <div class="card-body">
            <ul class="list-unstyled">
              <li>Brewed: {{ page.brewed_date|default:"N/A" }}</li>
              <li>Packaged: {{ page.packaged_date|default:"N/A" }}</li>
              <li>On Tap: {{ page.on_tap_date|default:"N/A" }}</li>
              <li>Recipe: <a class="" href="{% pageurl page.recipe_page %}{% querystring scale_volume=page.target_post_boil_volume scale_unit=page.volume_units %}">{{ recipe_page.title }}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <p>
          {{ page.body }}
        </p>
      </div>
    </div>
    <h2>{{ page.name }}</h2>
    <h4>{{ page.style }}</h4>
    <br>
    <h3>Style Details</h3>
    <div class="table-responsive">
      <table class="table">
        <thead class="table-active">
          <tr><th scope="col">O.G.</th><th scope="col">F.G.</th><th scope="col">IBU</th><th scope="col">Color</th></tr>
        </thead>
        <tbody class="table-secondary">
          <tr>
            <td>{% if recipe_page.style.original_gravity_min and recipe_page.style.original_gravity_max %}{{ recipe_page.style.original_gravity_min|floatformat:"3" }} - {{ recipe_page.style.original_gravity_max|floatformat:"3" }}{% else %}N/A{% endif %}</td>
            <td>{% if recipe_page.style.final_gravity_min and recipe_page.style.final_gravity_max %}{{ recipe_page.style.final_gravity_min|floatformat:"3" }} - {{ recipe_page.style.final_gravity_max|floatformat:"3" }}{% else %}N/A{% endif %}</td>
            <td>{% if recipe_page.style.ibu_min and recipe_page.style.ibu_max %}{{ recipe_page.style.ibu_min|floatformat:"0" }} - {{ recipe_page.style.ibu_max|floatformat:"0" }}{% else %}N/A{% endif %}</td>
            <td class="beer-style-guide__srm"><div class="text-center beer-style-guide__srm-gradient">{{ recipe_page.style.color_min|floatformat:"0" }} - {{ recipe_page.style.color_max|floatformat:"0" }} srm</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <h3>Batch Details</h3>
    <div class="table-responsive">
      <table class="table col-12">
        <thead class="table-active">
          <tr><th scope="col">Brewed On</th><th scope="col">Packaged On</th><th scope="col">On Tap Date</th><th scope="col">Original Gravity</th><th scope="col">Final Gravity</th><th>Color</th></tr>
        </thead>
        <tbody class="table-secondary">
          <tr>
            {# move these dates up to some nice div next to the body #}
            <td>{{ page.brewed_date|default:"N/A" }}</td>
            <td>{{ page.packaged_date|default:"N/A" }}</td>
            <td>{{ page.on_tap_date|default:"N/A" }}</td>
            <td>{{ page.original_gravity }}</td>
            <td>{{ page.final_gravity }}</td>
            <td class="beer-style-guide__srm"><div class="text-center recipe-stats__srm">{{ calculated_srm|floatformat:"0" }} srm</div></td>
            {% comment %}
              I will want the batch specific details - how much did I really boil, end with, etc.
              also add packaging type? keg or bottle? What if I split it up?
              <td>{{ page.boil_size|floatformat:"2" }} {{ page.get_volume_units_display }}</td>
              <td>{{ page.batch_size|floatformat:"2" }} {{ page.get_volume_units_display }}</td>
              <td>{{ page.boil_time }} Minutes</td>
              <td>{{ page.efficiency }}%</td>
            {% endcomment %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock primary %}
