/*html {
  background-color: #000015;
}*/

.twitter-svg, .github-svg {
  height: 1rem;
}

.digitalocean-svg {
  height: .75rem;
}

pre {
  /*background-color: #7d8d9b;*/
  /*background-color: #45515f;*/
  /*background-color: #2B3E50;*/
  background-color: #45515f;
  border-radius: .45rem;
  padding: .25rem;
  color: white;
}

.codehilite pre {
  background-color: #0b1025
}
.card {
  background-color: #45515f;
}

.card-header a:hover, .card-footer a:hover {
  /* These look terrible when they fade to the default a:hover color */
  color: #DF691A;
}

.page-header {
  padding: 1rem .5rem;
  background-color: #2B3E50;
  margin-bottom: .25rem;
}

body {
  background: linear-gradient(#2B3E50, #000015);
  height: 100%;
  /*background: repeating-linear-gradient(#000020, #2B3E50);*/
}

header.blog-header {
  /*background-color: #45515f;*/
  /*text-align: center;*/
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
  padding-top: 1.25rem;

  /*background: linear-gradient(#566577, #2B3E50);*/
  background-color: 0;
}

header.blog-header .title {
  text-align: left;
}

header.blog-header .nav {
  justify-content: flex-end
}

.blog-title {
  /* TODO: is this used? */
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  color: white;
}
.blog-description {
    /* TODO: is this used? */
  font-size: 1.1rem;
  /*color: #DEC062;*/
  color: #DF691A;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

aside {
  /*background-color: #E6ECF0;*/
  /*background-color: #4F99C4;*/
  /*background-color: #45515f;*/
  background-color: #2B3E50;
  padding-top: .5rem;
  border-radius: .5rem;
}

.sidebar-module {
  padding: 0 1rem 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

.blog-pagination .btn, .blog-pagination  .btn-outline-primary {
  /*color: #FF8905;
  border-color: #FF8905;*/

  color: ##DF691A;
  border-color: #DF691A;
}

.blog-pagination .btn-outline-primary.disabled {
  color: #f0ad4e ;
  border-color: #f0ad4e ;
}

a:active.btn.btn-outline-primary {
  border-color: #DF691A!important;
  background-color: #DF691A!important;
  color: #FF8905!important;
  outline: none!important;
  box-shadow: none !important;
  /*box-shadow: #FF8905 !important;*/
}

.btn:hover, .btn-outline-primary:hover {
  background-color: #FF8905;
  color: #FFF;
  border-color: #FF8905;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 1rem;
  background-color: #2B3E50;
  padding: 1rem;
}
.blog-post-title {
  /* TODO: used on post list views, but not the actual post... can probably get rid of it.*/
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
    /* TODO: used on post list views, but not the actual post... can probably get rid of it.*/
  margin-bottom: 1.25rem;
  color: #999;
}

/* main 2nd column */
/* #column-2.default {
  /*overflow-x: auto;*/
  border-radius: .5rem;
  padding: .5rem;
  /* background-color: #2B3E50; */
} */

/* footer */
.blog-footer {
  padding: 2.5rem 0;
  text-align: center;
  font-size: .7rem;
  margin-top: .5rem;
  background-color: rgba(0,0,0,0);
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #DF691A;
  border-bottom-color: #2B3E50;
  border-radius: .25rem .25rem 0 0;
}

.nav.nav-tabs, .nav-tabs .nav-link:hover:not(.active) {
  border-color: #DF691A;
  border-radius: .25rem .25rem 0 0;
}

.nav-tabs .nav-link {
  /*border-bottom-color: rgb(223, 105, 26);*/
  border-bottom-color: #DF691A;
}

.project_detail__content {
  padding: .5rem;
}

/*
 * Image gallery blocks - it's approaching time for some sass I think.
 */
 /* .image-gallery__link {
   height: 250px;
 } */

 /* .image-gallery__image {
   max-height: 250px;
 } */

/* merge a bunch of rules from how wagtail does its image gallery */
/* probably a ul */
.image-gallery .image-gallery__list {
  border-left: 1px solid #DF691A;
  margin-bottom: 2em;
  list-style-type: none;
  font-style: normal;
  padding: 0;
  margin-top: 0;
  font-size: .95em;
}

.image-gallery .image-gallery__list::before, .image-gallery__list::after {
  content: " ";
  display: table;
}

.image-gallery .image-gallery__list::after {
  clear: both;
}

/* probably an li */
.image-gallery .image-gallery__list-item {
  padding: 1.5em;
  height: 275px;
  text-align: center;
  margin-top: -1px;
  border: 1px solid #DF691A; /* #e6e6e6; */
  border-left: 0;
  float: left;
  list-style-type: none;
}

/* the <a> may want to rename this to something more generic? */
.image-gallery .image-gallery__link {
  color: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.image-gallery .image-gallery__link:hover {
  color: #DF691A;
}

.image-gallery .image-gallery__wrapper {
  text-align: center;
  max-width: 250px;
  max-height: 250px;
  height: 200px;
  display: inline-block;
  line-height: 200px;
}

.image-gallery .image-gallery__image::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
  margin-right: -.25em;
}
.image-gallery .image-gallery__image {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  transition: border-color .2s ease;
  border: 3px solid #fff;
}

.image-gallery .image-gallery__image:hover {
    border: 3px solid #DF691A;
}

/* srm colors for background */
.bg-srm-1 {
background-color: #FFE699;
}
.bg-srm-2 {
background-color: #FFD878;
}
.bg-srm-3 {
background-color: #FFCA5A;
}
.bg-srm-4 {
background-color: #FFBF42;
}
.bg-srm-5 {
background-color: #FBB123;
}
.bg-srm-6 {
background-color: #F8A600;
}
.bg-srm-7 {
background-color: #F39C00;
}
.bg-srm-8 {
background-color: #EA8F00;
}
.bg-srm-9 {
background-color: #E58500;
}
.bg-srm-10 {
background-color: DE7C00;
}
.bg-srm-11 {
background-color: D77200;
}
.bg-srm-12 {
background-color: CF6900;
}
.bg-srm-13 {
background-color: CB6200;
}
.bg-srm-14 {
background-color: C35900;
}
.bg-srm-15 {
background-color: BB5100;
}
.bg-srm-16 {
background-color: B54C00;
}
.bg-srm-17 {
background-color: B04500;
}
.bg-srm-18 {
background-color: A63E00;
}
.bg-srm-19 {
background-color: A13700;
}
.bg-srm-20 {
background-color: 9B3200;
}
.bg-srm-21 {
background-color: 952D00;
}
.bg-srm-22 {
background-color: 8E2900;
}
.bg-srm-23 {
background-color: 882300;
}
.bg-srm-24 {
background-color: 821E00;
}
.bg-srm-25 {
background-color: 7B1A00;
}
.bg-srm-26 {
background-color: 771900;
}
.bg-srm-27 {
background-color: 701400;
}
.bg-srm-28 {
background-color: 6A0E00;
}
.bg-srm-29 {
background-color: 660D00;
}
.bg-srm-30 {
background-color: 5E0B00;
}
.bg-srm-31 {
background-color: 5A0A02;
}
.bg-srm-32 {
background-color: 600903;
}
.bg-srm-33 {
background-color: 520907;
}
.bg-srm-34 {
background-color: #4C0505;
}
.bg-srm-35 {
background-color: #470606;
}
.bg-srm-36 {
background-color: #440607;
}
.bg-srm-37 {
background-color: #3F0708;
}
.bg-srm-38 {
background-color: #3B0607;
}
.bg-srm-39 {
background-color: #3A070B;
}
.bg-srm-40 {
background-color: #36080A;
}
