-c requirements.txt

coverage
django_coverage_plugin
factory-boy
honcho
dj-inmemorystorage
wagtail-factories
tblib

# Linting and formatting
flake8
flake8-django
pylint
black
isort
djhtml

# Automatic code style upgrades
pyupgrade
django-upgrade

# Static analysis
mypy
django-stubs
types-Markdown
types-certifi
