coverage
django_coverage_plugin
factory-boy
honcho
wagtail-factories
tblib
freezegun

# Linting and formatting
# flake8
# flake8-django
# pylint
ruff
black
isort
djhtml

# Automatic code style upgrades
pyupgrade
django-upgrade

# Static analysis
mypy
django-stubs
django-stubs-ext
types-Markdown
types-certifi
types-factory-boy
