# Base system
django
django-add-default-value
django-csp
django-deprecate-fields
django-redis
django-storages
gunicorn
pillow
psycopg2-binary
wagtail
wagtailfontawesome
whitenoise

# Extra tools
pygments  # code highlight blocks
boto3  # for django-storages
markdown  # markdown in templates - a few things using this still
pytz  # I'm sure this is pulled in without me specifying it...
requests # I'm sure this is pulled in without me specifying it...
https://github.com/jmichalicek/django-internetdefenseleague/archive/master.zip

# Configuration tools
django-environ
dj-database-url

# Logging and monitoring
structlog
django-structlog
sentry_sdk
# From https://github.com/hynek/structlog/issues/193
# and https://github.com/kiwicom/structlog-sentry to get our stack traces back
structlog-sentry
django-debug-toolbar
django-watchman
