{% extends 'base.html' %}
{% load blog_tags %}
{% load static %}
{% load wagtailcore_tags %}

{% block primary %}
  <div class="page-header">
     <h2>{{ page.title }}</h2>
  </div>
  <hr />
  {% include_block page.body %}
{% endblock %}
