/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  /*color: #555;*/
  color: #4a0617;
  /*background-color: #696765;*/
  background-color: #999;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: Calibri, sans-serif
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 400;
  /*color: #333;*/
  color: #893131
}

a {
  color: #235978;
}

.card {
  background-color: #d7d7d7;
}

.btn, .btn-outline-primary {
  color: #4a0617;
  border-color: #4a0617;
}

.btn-outline-primary.disabled {
  color: #893131;
  border-color: #893131;
}

.btn:hover, .btn-outline-primary:hover {
  background-color: #4a0617;
  color: #FFF;
  border-color: #893131;
}

a:active.btn.btn-outline-primary {
  border-color: #893131!important;
  background-color: #893131!important;
  color: #893131!important;
  outline: none!important;
  box-shadow: none !important;
  /*box-shadow: #893131 !important;*/
}


/*
 * Override Bootstrap's default container.
 */

/*.container {
  max-width: 60rem;
}*/


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}


.nav-tabs .nav-link {
  color: #cdddeb;
}

/* below nav stuff is from the bootstrap official blog demo
 * but is really aimed at their colors and in the navbar.
 * It was mucking with my nav tabs and I am not using the bar, though
 */
/* Nav links */
/*.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}*/

/* Active state gets a caret at the bottom */
/*.nav-link.active {
  color: #fff;
}*/
/*.nav-link.active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}*/


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
  padding-top: 1.25rem;
  background-color: #0069ff;
  text-align: center;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  color: white;
}
.blog-description {
  font-size: 1.1rem;
  /*color: #999;*/
  color: #d7d7d7;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
aside {
  /*background-color: #E6ECF0;*/
  background-color: #4F99C4;
  padding-top: .5rem;
  border-radius: .5rem;
}
aside a, aside a:hover, aside a:active {
  /*color: #1d548f;*/
  color: #d7d7d7;
}
.sidebar-module {
  padding: 0 1rem 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  /*background-color: #f9f9f9;*/
  background-color: #696765;
  border-top: .05rem solid #e5e5e5;
  font-size: .7rem;
  margin-top: .25rem;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer a {
  color: #d7d7d7;
}

.gist pre {
    color: #000000;
}

/*
 * project detail page
 */
.project_detail__nav_row {
  margin-bottom: 1rem;
}
