pre {
  background-color: #7d8d9b;
  border-radius: .45rem;
  padding: .25rem;
}

.page-header {
  padding: .5rem;
}

.blog-header {
  background-color: #45515f;
  text-align: center;
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
  padding-top: 1.25rem;
}

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  color: white;
}
.blog-description {
  font-size: 1.1rem;
  /*color: #DEC062;*/
  color: #F8CA06;
  /*color: #999;*/
  /*color: #d7d7d7;*/

}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

aside {
  /*background-color: #E6ECF0;*/
  /*background-color: #4F99C4;*/
  background-color: #45515f;
  padding-top: .5rem;
  border-radius: .5rem;
}

.sidebar-module {
  padding: 0 1rem 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

.blog-pagination .btn, .blog-pagination  .btn-outline-primary {
  /*color: #FF8905;
  border-color: #FF8905;*/

  color: ##DF691A;
  border-color: #DF691A;
}

.blog-pagination .btn-outline-primary.disabled {
  color: #f0ad4e ;
  border-color: #f0ad4e ;
}

a:active.btn.btn-outline-primary {
  border-color: #DF691A!important;
  background-color: #DF691A!important;
  color: #FF8905!important;
  outline: none!important;
  box-shadow: none !important;
  /*box-shadow: #FF8905 !important;*/
}

.btn:hover, .btn-outline-primary:hover {
  background-color: #FF8905;
  color: #FFF;
  border-color: #FF8905;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/* main 2nd column */
#column-2.default {
  overflow-x: auto;
  border-radius: .5rem;
  /*background-color: #566577;*/
  background-color: #45515f;
  /*background: linear-gradient(bottom right, #2B3E50, #566577);*/
  padding: .5rem;
}

/* footer */
.blog-footer {
  padding: 2.5rem 0;
  /*color: #999;*/
  /*color: white;*/
  text-align: center;
  /*background-color: #f9f9f9;*/
  /*background-color: #8a8585;*/
  /*background-color: #566577;*/
  /*border-top: .05rem solid #e5e5e5;*/
  font-size: .7rem;
  margin-top: .5rem;

  background: linear-gradient(#2B3E50, #566577);
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer a {
  /*color: #1d548f;*/
  /*color: #FF8905;*/
  /*color: whitesmoke;*/
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #45515f;
  border-color: rgb(223, 105, 26);
  border-bottom-color: #45515f;
  border-radius: .25rem;
  /*border-color: whitesmoke whitesmoke whitesmoke whitesmoke;*/
  /*border-color: #b9c0cb;
  border-bottom-collor: #b9c0cb;*/
}

.nav-tabs .nav-link {
  background-color: #45515f;
}

.project_detail__content {
  padding: .5rem;
}
